@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

.c-font-xs {
  font-size: 12px;
}

.c-font-sm {
  font-size: 14px;
}

.c-font-base {
  font-size: 16px;
}

.c-font-md {
  font-size: 1.125rem;
}

.c-font-lg {
  font-size: 1.266rem;
}

.c-font-xl {
  font-size: 1.424rem;
}

.c-font-2xl {
  font-size: 1.602rem;
}

.c-font-3xl {
  font-size: 1.802rem;
}

.c-font-4xl {
  font-size: 2.027rem;
  line-height: 2.75rem;
}

.containerRaw {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  position: relative;
}

.logo::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 8px;
  border: solid 2px white;
  border-radius: 100%;
  margin-right: 0.75rem;
  margin-bottom: 1px;
}

.section--home {
  position: relative;
}

.section--home::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 48px;
  width: 100%;
  background-color: #fff8ef;
  z-index: -50;
}

@media screen and (min-width: 640px) {
  .c-font-md {
    font-size: 1.2rem;
  }

  .c-font-lg {
    font-size: 1.44rem;
  }

  .c-font-xl {
    font-size: 1.728rem;
  }

  .c-font-2xl {
    font-size: 2.074rem;
  }

  .c-font-3xl {
    font-size: 2.448rem;
  }

  .c-font-4xl {
    font-size: 2.986rem;
    line-height: 4.25rem;
  }

  .containerRaw {
    padding-left: 3rem;
    padding-right: 3rem;
    max-width: 720px;
  }

  .logo::before {
    height: 10px;
    width: 10px;
    margin-right: 1rem;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 998px) {
  .c-font-md {
    font-size: 1.25rem;
  }

  .c-font-lg {
    font-size: 1.563rem;
  }

  .c-font-xl {
    font-size: 1.953rem;
  }

  .c-font-2xl {
    font-size: 2.441rem;
  }

  .c-font-3xl {
    font-size: 3.052rem;
  }

  .c-font-4xl {
    font-size: 3.815rem;
    line-height: 5.5rem;
  }

  .containerRaw {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    max-width: 1120px;
  }
}

@media screen and (min-width: 1278px) {
  .c-font-md {
    font-size: 1.333rem;
  }

  .c-font-lg {
    font-size: 1.777rem;
  }

  .c-font-xl {
    font-size: 2.369rem;
  }

  .c-font-2xl {
    font-size: 3.157rem;
  }

  .c-font-3xl {
    font-size: 4.209rem;
  }

  .c-font-4xl {
    font-size: 5.61rem;
    line-height: 7.5rem;
  }

  .containerRaw {
    padding-left: 4rem;
    padding-right: 4rem;
    max-width: 1600px;
  }

  .logo::before {
    height: 12px;
    width: 12px;
    margin-right: 1.25rem;
    margin-bottom: 0px;
  }
}
